<div class="container">
  <div [hidden]="submitted">
    <h1>QCM</h1>

    <form (ngSubmit)="onSubmit()" #qcmForm="ngForm">
      <div class="form-group">
        <h2> Question 1 </h2>
        <label for="choix1Q1">Choix1</label>
        <input type="radio" id="choix1Q1" name="question1"
            value="1"[(ngModel)]="model.question1.rep1">

        <label for="choix2">Choix2</label>
        <input type="radio" id="choix1Q2" name="question1"
          value= "2" [(ngModel)]="model.question1.rep1">
      </div>

      <div class="form-group">
        <h2> Question 2 </h2>
        <label for="choix1Q2">Choix1</label>
        <input type="radio" id="choix1Q2" name="question2"
            value=1 [(ngModel)]="model.question2">

        <label for="choix2Q2">Choix2</label>
        <input type="radio" id="choix2Q2" name="question2"
          value= 2 [(ngModel)]="model.question2">
      </div>

    

      <button type="submit" class="btn btn-success" [disabled]="!qcmForm.form.valid">Envoyer</button>
      <button type="button" class="btn btn-default" (click)="newqcm(); qcmForm.reset()">Effacer</button>


    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>Vous avez envoyé</h2>
    <div class="row">
      <div class="col-xs-3">Question1</div>
      <div class="col-xs-9">{{ model.question1.rep1 }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Question 2 </div>
    
      <div class="col-xs-9">{{ model.question2}}</div>
    </div>

    <br>
    <button class="btn btn-primary" (click)="submitted=false">Recommencer</button>
  </div>
</div>

