<div class="container">
  <div [hidden]="submitted">
    <h1>QCM</h1>

    <form (ngSubmit)="onSubmit()" #qcmForm="ngForm">

      <div class="form-group">

        <h2> Question 1 </h2>
        <label for="choix1Q1">Choix1</label>
        <input type="radio" id="choix1Q1" name="question1"
            value=1 [(ngModel)]="model.listeQuestionsReponses[0].repFournie">
        <label for="choix2">Choix2</label>
        <input type="radio" id="choix1Q2" name="question1"
          value= "2" [(ngModel)]="model.listeQuestionsReponses[0].repFournie">
      </div>

      <div class="form-group">
        <h2> Question 2 </h2>
        <label for="choix1Q2">Choix1</label>
        <input type="radio" id="choix1Q2" name="question2"
            value=1 [(ngModel)]="model.listeQuestionsReponses[1].repFournie">

        <label for="choix2Q2">Choix2</label>
        <input type="radio" id="choix2Q2" name="question2"
          value= 2 [(ngModel)]="model.listeQuestionsReponses[1].repFournie">
      </div>

    

      <button type="submit" class="btn btn-success" [disabled]="!qcmForm.form.valid">Envoyer</button>
      <button type="button" class="btn btn-default" (click)="newqcm(); qcmForm.reset()">Effacer</button>


    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>Vous avez envoyé</h2>
    <table >
      <tr>
        <th> Question </th>
        <th> Votre reponse </th>
        <th> La reponse attendue </th>
      </tr>

      <tr>
        <td> Question 1                                              </td>
        <td> {{ model.listeQuestionsReponses[0].repFournie }}        </td>
        <td> {{ model.listeQuestionsReponses[0].repCorrecte }}       </td>
      </tr>

      <tr>
        <td> Question 2                                             </td>
        <td> {{ model.listeQuestionsReponses[1].repFournie }}        </td>
        <td> {{ model.listeQuestionsReponses[1].repCorrecte }}       </td>
      </tr>


      </table>
 

    <br>
    <button class="btn btn-primary" (click)="submitted=false">Recommencer</button>
  </div>
</div>

